<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/jquery-3.6.0.min.js"></script>
<style>
	.wrap *{
		border: 1px solid lightgray;
		display: block; padding: 5px; margin: 15px;
	}
	
	.type{width: 400px;}
</style>
</head>
<body>
	<h1>객체 탐색</h1>
	<h2>순회 메소드</h2>
	<h3>Ancestors 메소드</h3>
	<p>선택된 요소의 상위 요소를 선택할 수 있는 메소드</p>
	<div class="wrap">
		<div class="type">div (great-grandparent)
			<ul>ul (grandparent)
				<li>li (direct parent)
				<span>span</span>
				</li>
			</ul>
		
		</div>
	
		<div class="type">div (great-grandparent)
			<p>p (grandparent)
				<span>span</span>
			</p>
		
		</div>
	</div>
	
	
	
	
		
	
	
	<script>
			$(function(){
				console.log($('span').parent());
				$('span').parent().css({'color':'red','border':'2px solid red' });
				//선택된 요소의 바로 상위 요소 선택
				
			//	$('span').parents().css({'color':'blue','border':'2px solid blue'});
				$('span').parents('ul').css({'color':'blue','border':'2px solid blue'});
				// 선택된 요소의 모든 상위 요소 선택(매개변수가 있다면 상위 요소 중 매개변수와 일치하는 요소만 선택)
				
				$('span').parentsUntil('div').css('background','beige');
				// 선택된 요소부터 지ㅓㅇ 요소 전까지 범위의 요소 선택(지정 요소 포함 x)
			});
	</script>
</body>
</html>