<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/jquery-3.6.0.min.js"></script>
<style>
		.wrap, .wrap *{
			border: 1px solid lightgray;
			display: block;
			padding: 5px; margin: 15px;
		}
</style>
</head>
<body>
<h1>객체 탐색</h1>
<h2>순회 메소드</h2>
<h3>sideways 메소드</h3>
<div class="wrap">div(parent)
	<p>p</p>
	<span>span</span>
	<h4>h4</h4>
	<h5>h5</h5>
	<p>p</p>
</div>
<script>
		$(function(){
			console.log($('h4').siblings());
			$('h4').siblings().css({'color':'red', 'border':'2px solid red'});
			$('h4').siblings('p').css({'color':'orange', 'border':'2px solid orange'});
			//선택된 요소와 같은 레벨에 있는 요소 선택(인자가 있는 경우 인자와 일치하는 요소 선택)
			
			$('h4').next().css({'color':'blue','border':'2px solid blue'});
			// 선택된 요소와 같은 레벨의 형제들 중 선택 요소 다음 한 개 요소 리턴
			
			$('h4').nextAll().css('font-size','20px');
			// 선택된 요소와 같은 레벨의 형제들 중 선택 요소 다음 모든 요소 리턴
			
			$('h4').nextUntil('p').css('border','dashed');
			// 선택된 요소와 같은 레벨의 형제들 중 인자 범위까지의 모든 뒤쪽 요소 리턴(지정 요소 불포함)
			
			$('h4').prev().css({'color':'white', 'background':'red'});
			// 선택된 요소와 같은 레벨의 형제 요소 이전의 한개 요소 리턴
			
			$('h4').prevAll().css({'background':'beige','color':'red'});
			// 선택된 요소와 같은 레벨의 형제 요소 중 이전의 모든 요소 리턴
			
			$('h4').prevUntil('p').css('border','double');
			// 선택된 요소와 같은 레벨의 형제들 중 인자 범위까지의 모든 앞쪽 요소 리턴(지정 요소 불포함)
		});
</script>

	<h2>객체 탐색 테스트</h2>
	<table border = "1">
			<tr>
				<th>이름</th>
				<th>나이</th>
				<th>취미</th>
			</tr>
			<tr>
				<td>강건강</td>
				<td>26</td>
				<td>운동</td>
			</tr>
			<tr>
				<td>남나눔</td>
				<td>17</td>
				<td>요리</td>
			</tr>
			<tr>
				<td>도대담</td>
				<td>30</td>
				<td>등산</td>
			</tr>
	</table>
	<label>선택한 게시물 :</label>
	<label id="selectName"></label>/
	<label id="selectAge"></label>/
	<label id="selectHobby"></label>
	<script>
		$(function(){
			$('tr').click(function(){
				//console.log($(this)); //tr
				var td = $(this).children('td');
				//console.log(td);
			//	console.log(td[0]);
			//	console.log(td[0].innerText);
				console.log(td.eq(0));
				var nameText = td.eq(0).text();
				var ageText = td.eq(1).text();
				var hobbyText = td.eq(2).text();
				
				$('#selectName').text(nameText);
				$('#selectAge').text(ageText);
				$('#selectHobby').text(hobbyText);
			});
		});
	
	
	
	
	
	</script>
</body>
</html>